<p id="notice"><%= notice %></p>

<h1>Custom Fields</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Field type</th>
      <th>Default value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.title %></td>
        <td><%= custom_field.field_type %></td>
        <td><%= custom_field.default_value %></td>
        <td><%= link_to 'Show', custom_field %></td>
        <td><%= link_to 'Edit', edit_custom_field_path(custom_field) %></td>
        <td><%= link_to 'Destroy', custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Field', new_custom_field_path %>
